.wrapper {
  .background {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 12rem;
    border-radius: .5rem .5rem 0 0;
    //background: linear-gradient(to bottom, #111 100%, transparent 0%);
  }

  // 头像
  .avatar_wrapper {
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem;

    .avatar {
      width: 7.2rem;
      height: 7.2rem;
    }
  }

  // 头像框
  .avatar_frame_wrapper {
    position: absolute;
    top: 0;
    left: 30%;
    display: none;
  }

  // 昵称
  .nickname_wrapper {
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  // 座右铭
  .motto {
    text-align: center;
    margin: 1.5rem 0;
  }

  // 统计数据
  .stats_wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;

    li {
      text-align: center;

      h3 {
        padding: 1rem;
      }
    }
  }

  // 社交图表
  .contact_wrapper {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid antiquewhite;
    padding: 1.5rem;

    svg:hover {
      transform: scale(1.1);
      transition: all .3s;
    }
  }
}