.wrapper {
  &::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(var(--background)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  }

  .background {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 12rem;
    border-radius: .5rem .5rem 0 0;
  }

  // 头像
  .avatar_wrapper {
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem;

    .avatar {
      width: 7.2rem;
      height: 7.2rem;
      z-index: 999;
    }
  }

  // 头像框
  .avatar_frame_wrapper {
    position: absolute;
    z-index: 999;
    top: 9.5rem;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    img{
      width: 12rem;
    }
  }

  // 昵称
  .nickname_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-bottom: 1rem;
    span{
      font-weight: 500;
      font-size: 1.6rem;
      color: var(--zolo-colors-theme);
      padding: 0 .5rem;
    }
  }

  // 座右铭
  .motto {
    text-align: center;
    margin: 1.5rem 0;
  }

  // 统计数据
  .stats_wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1.5rem 0;

    li {
      flex: 1;
      text-align: center;
      &:nth-child(2){
        border-left: 1px solid var(--zolo-colors-border);
        border-right: 1px solid var(--zolo-colors-border);
      }
      h4 {
        font-weight: 500;
        font-size: 1.6rem;
      }
      span{
        font-size: 1.3rem;
      }
    }
  }

  // 社交图表
  .contact_wrapper {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--zolo-colors-border);
    padding: 1.5rem;

    svg:hover {
      transform: scale(1.1);
      transition: all .3s;
    }
  }
}