.wrapper {
  display: flex;
  width: 100vw;
  height: 6rem;
  box-shadow: 0 .2rem .5rem 0 rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0 .2rem .5rem 0 rgb(0 0 0 / 15%);
  background: rgb(255, 255, 255);
  z-index: 2;
  top: 0;
  transition: all .5s;
  position: absolute;
  line-height: 6rem;

  .content_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    width: 100%;

    .left_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo_wrapper {
        max-width: 13rem;
        margin-right: 1rem;

        img {
          width: 100%;
        }
      }

      .menu_wrapper {
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;

        a {
          padding: 0 1.4rem;
          font-size: 1.5rem;
          color: var(--default-light-back);
          font-weight: 500;
          position: relative;
        }
      }
    }

    .right_wrapper {
      display: flex;
      align-items: center;

      .search_input {
        border-radius: 1.5rem;
        box-sizing: border-box;
        outline-color: var(--main-font-color);
      }

      .search_button {
        padding: .8rem 1rem;
        z-index: 9999;
      }
    }
  }
}