.wrapper {
  // headline
  .headline_wrapper {
    display: flex;
    align-items: center;
  }

  // 文章div
  .articles_wrapper {
    // 文章item
    .article_item {
      display: flex;
      height: 14rem;
      // 封面
      .cover_wrapper {
        width: 20rem;
        border: 1px solid rebeccapurple;
        margin-right: 1rem;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: opacity .35s;
          margin-right: 0.8rem;
          border-radius: 0.4rem;
        }
      }
      // 文章信息
      .metadata_wrapper{
        border: 1px solid saddlebrown;
        width: 100%;
        display: flex;
        flex-direction: column;
        // title
        .title_wrapper{
          font-size: 1.8rem;
          margin-bottom: 1rem;
          color: var(--default-light-back);
        }
        // intro
        .intro_wrapper{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          margin: 0;
          line-height: 1.5;
          word-break: break-all;
          height: 4rem;
        }
        // 统计信息
        .stats_wrapper{
          display: flex;
          justify-content: space-between;
          margin-top: auto;
          font-size: 1.3rem;
        }
      }
    }
  }
}